@import "./fonts.css";


/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Actual styles */

body {
  background-color: #B2DBCB;
}
.container {
  display: flex;
  height: 100vh;
}

img.hero-img {
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 6.25rem;
  left: 4.5rem;
  font-family: 'Instrument Serif';
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
}

h3 {
  position: absolute;
  top: 14.5rem;
  left: 4.5rem; 
  font-family: 'Instrument Serif';
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;

}

.ghar-txt {
  color: #FFFFFF;
}

.left-div {
  width: 50vw;
}

.right-div {
  width: 50vw;
}

nav {
  display: flex;
  justify-content: space-around;
}

button.nav-btn {
  background-color: transparent;
  font-family: 'Instrument Serif';
  font-size: 2.5rem;
  border: none;
  margin-top: 2.5rem;
  padding: 0 20px;
}

.right-div {
  border-radius: 36px;
  background-color: #88b6ab;
  position: relative;
  top: 20px;
  box-shadow: 10px -15px 20px 0px rgba(0, 0, 0, 0.25);
  height: calc(100vh - 20px);
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Instrument Serif';
  font-size: 4rem;
  margin-top: 3.5rem;
  font-style: normal;
  line-height: 0.98;
  font-weight: 400;

}

.right-div-container {
  display: block;
  width: 40rem;
  flex-shrink: 0;
  align-self: flex-start;
}

.home {
  line-height: 1.25;
  margin-top: 3.5rem;
}

.description {
  font-family: 'Roboto Condensed';
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
}

.home-sub {
  margin-top: 1.5rem;
}

.sub-txt {
  font-family: 'Roboto Condensed';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.25;
}

.home-btn {
  font-family: 'Instrument Serif', serif;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #505D65;
  color: #FFFFFF;
  padding: 20px;
}

.home-btn-container {
  display: flex;
  justify-content: start;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button.active {
  border-bottom: solid 1px black;
}

.hidden {
  display: none;
}

.menu-heading-container {
  display: flex;
}

.line {
  height: 1px;
  flex-grow: 10;
  align-self: center;
  background-color: black;
  margin-top: 3.5rem;

}

.menu-h2 {
  flex-grow: 1;
}

.menu.sub-txt {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.menu-img {
  width: 43.33%;
  max-width: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 2rem;
}

.item-name {
  font-family: 'Instrument Serif';
  font-size: 2rem;
  font-style: normal;
  line-height: 0.98;
  font-weight: 400;
  margin-right: 1rem;
}

.menu-item-container {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.item-name-container {
  display: flex;
  margin-bottom: 1rem;
}

.item-name-line {
  margin: 0;
}

.menu-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item.sub-txt {
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;  
}

.contact-sub.sub-txt {
  margin: 1.5rem 0;
}

.map-container {
  width: 100%;
}

h4 {
  font-family: 'Instrument Serif';
  font-size: 2rem;
  font-style: normal;
  line-height: 0.98;
  font-weight: 400;
  margin: 1.5rem 0;
}

button {
  cursor: pointer;
}

.home-btn:hover {
  background-color: #2B363C;
}