@import "./fonts.css";


/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Actual styles */

body {
  background-color: #B2DBCB;
}
.container {
  display: flex;
  height: 100vh;
}

img.hero-img {
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 6.25rem;
  left: 4.5rem;
  font-family: 'Instrument Serif';
  font-size: 6rem;
}

h3 {
  position: absolute;
  top: 14.5rem;
  left: 4.5rem; 
  font-family: 'Instrument Serif';
  font-size: 3rem;
}

.ghar-txt {
  color: #FFFFFF;
}

.left-div {
  width: 50vw;
}

.right-div {
  width: 50vw;
}

nav {
  display: flex;
  justify-content: space-around;
}

button.nav-btn {
  background-color: transparent;
  font-family: 'Instrument Serif';
  font-size: 2.5rem;
  border: none;
  margin-top: 4.5rem;
}

.right-div {
  border-radius: 36px;
  background-color: #88b6ab;
  position: relative;
  top: 20px;
  box-shadow: 10px -15px 20px 0px rgba(0, 0, 0, 0.25);
  height: calc(100vh - 20px);
  flex: 1;
  overflow-y: auto;
}

h2 {
  font-family: 'Instrument Serif';
  font-size: 4rem;
}

.right-div-container {
  width: 40rem;
}