<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kacchi Ghar</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <div class="left-div">
      <img class="hero-img" src="../assets/images/hero-img.png" alt="landing page hero image">
      <h1>KACCHI <span class="ghar-txt">GHAR</span></h1>
      <h3>Authentic Bangladeshi Cuisine</h3>
    </div>
    <div class="right-div">
      <div class="right-div-container"></div>
    </div>
  </div>
</body>
</html>